<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Анкеты пользователей</title>
        <!-- Подключение Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

</head>
<!--задаем всему экраны серенький цвет-->
<body style="background-color: #f8f9fa;">

<div class="container mt-5">
    <h1 class="mb-4 text-center">Анкеты пользователей</h1>
    <!-- Форма для создания анкеты -->
    <form method="POST" action="/">
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="name_user">Имя пользователя:</label>
                <input type="text" class="form-control" id="name_user" name="name_user" required>
            </div>
            <div class="form-group col-md-4">
                <label for="gorod">Город проживания:</label>
                <input type="text" class="form-control" id="gorod" name="gorod" required>
            </div>
            <div class="form-group col-md-4">
                <label for="vozrast">Возраст:</label>
                <input type="text" class="form-control" id="vozrast" name="vozrast" required>
            </div>
        </div>
        <div class="form-group">
            <label for="hobby">Хобби:</label>
            <textarea class="form-control" id="hobby" name="hobby" rows="5"> </textarea>
        </div>

        <button type="submit" class="btn btn-primary btn-block">Отправить данные анкеты</button>
    </form>
    <hr>
    <!-- Список анкет -->
    <h2 class="mt-4 text-center">Список анкет:</h2>
    <div class="row">
        {% for anketa in spisok_anket %}
        <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
            <div class="card card-custom h-100">
                <div class="card-body">
                    <h4 class="card-title">Имя: {{ anketa.name_user }}</h4>
                    <h4 class="card-title">Город: {{ anketa.gorod }}</h4>
                    <h4 class="card-title">Возраст: {{ anketa.vozrast }}</h4>
                    <h5 class="card-title">Хобби: </h5>
<!--                    для хобби мы используем фильтр замены перевода строки на <br>-->
<!--                    так как перевод строки в html не работает-->
                    <p class="card-text">{{ anketa.hobby  | nl2br }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<!--    #подключает Bootstrap для стилизации-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>